# EDA Case Study

In [ ]:
import warnings

warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Reading the Data

In [ ]:
df = pd.read_csv('application_data.csv')

### Inspecting the Data Frame

In [ ]:
pd.set_option('display.max_columns',300) # To display all the columns
pd.set_option('display.max_rows',300)
pd.set_option('display.width',1000)
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
#df.info()
df.info(verbose=True, null_counts=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df.describe()

In [ ]:
#Sorting by the count of NAN values in descending order
df.isna().sum().sort_values(ascending=False).head(25)

In [ ]:
# Checking the Null value percentage of each column
(df.isnull().sum()/len(df)*100).sort_values()

Since there are multiple columns with greater than 32% null values, analysing those columns might not give the accurate results. So, will remove those columns and analyse the remaining columns.

In [ ]:
# Removing the columns with more than 32% NAN values.
df = df.loc[:,df.isnull().mean() <=32]

In [ ]:
df.shape

In [ ]:
# Again Sorting by the count of NAN values in descending order and checking
df.isna().sum().sort_values(ascending=False).head(25)

In [ ]:
df.info(verbose=True, null_counts=True)

In [ ]:
# To check categorical columns
list(set(df.columns) - set(df.describe().columns))

In [ ]:
# To check numerical columns
df.describe().columns

### Null Value Imputations

In [ ]:
# Checking the columns having less null percentage
df.isnull().sum()/len(df)*100

In [ ]:
(df.isnull().sum()/len(df)*100).sort_values()

Let us consider the columns with null values less than or equal to 32% and impute the missing values.

In [ ]:
# Selecting columns with null values greater than zero and less than or equal to 13% for imputation.
list(df.columns[(df.isnull().sum()/len(df)*100 <=32) & (df.isnull().sum()/len(df)*100 >0)])

#### AMT_ANNUITY Imputation

In [ ]:
df['AMT_ANNUITY'].value_counts()

In [ ]:
df['AMT_ANNUITY'].describe()

In [ ]:
# 'AMT_ANNUITY' is a continuous variable. Checking for Outliers.
sns.boxplot(df['AMT_ANNUITY'])
plt.show()

Since it has outliers, it can be imputed using the Median i.e, 24903.0

In [ ]:
df['AMT_ANNUITY'].fillna(df['AMT_ANNUITY'].median(), inplace=True)

In [ ]:
# Rechecking that value has been imputed or not.
df.isnull().sum()/len(df)*100

#### AMT_GOODS_PRICE Imputation

In [ ]:
df['AMT_GOODS_PRICE'].value_counts()

In [ ]:
df['AMT_GOODS_PRICE'].describe()

In [ ]:
# 'AMT_GOODS_PRICE' is a continuous variable. Checking for Outliers.
sns.boxplot(df['AMT_GOODS_PRICE'])
plt.show()

Since it has outliers, it can be imputed using the Median.

In [ ]:
df['AMT_GOODS_PRICE'].fillna(df['AMT_GOODS_PRICE'].median(), inplace=True)

#### NAME_TYPE_SUITE Imputation

In [ ]:
df['NAME_TYPE_SUITE'].value_counts()

Certainly, column 'NAME_TYPE_SUITE' is a categorical one. So, it can imputed with the mode of the column i.e, Unaccompanied.

In [ ]:
df['NAME_TYPE_SUITE'].fillna(df['NAME_TYPE_SUITE'].mode()[0], inplace=True)

#### CNT_FAM_MEMBERS Imputation

In [ ]:
df['CNT_FAM_MEMBERS'].value_counts()

In [ ]:
# 'CNT_FAM_MEMBERS' is a continuous variable. Checking for Outliers.
sns.boxplot(df['CNT_FAM_MEMBERS'])
plt.show()

Since it has outliers, it can be imputed using the Median.

In [ ]:
df['CNT_FAM_MEMBERS'].describe()

In [ ]:
df['CNT_FAM_MEMBERS'].fillna(df['CNT_FAM_MEMBERS'].median(), inplace=True)

#### EXT_SOURCE_2 Imputation

In [ ]:
df['EXT_SOURCE_2'].value_counts()

In [ ]:
# 'EXT_SOURCE_2' is a continuous variable. Checking for Outliers.
sns.boxplot(df['EXT_SOURCE_2'])
plt.show()

Since, it has no outliers, we can choose mean, if mean and median are almost same else we can choose median to impute the null values.

In [ ]:
df['EXT_SOURCE_2'].describe()

Since mean and median are almost same, we can impute null values using Mean of the column.

In [ ]:
df['EXT_SOURCE_2'].fillna(df['EXT_SOURCE_2'].mean(), inplace=True)

In [ ]:
# Rechecking that value has been imputed or not.
df.isnull().sum()/len(df)*100

#### OCCUPATION_TYPE Imputation

In [ ]:
df['OCCUPATION_TYPE'].value_counts()

Clearly, column 'OCCUPATION_TYPE' is a categorical one. So, let us plot a count plot.

In [ ]:
sns.countplot(x= 'OCCUPATION_TYPE', data=df)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#Since laborers type is the majority Occupation type, we can impute null values with the Laborers Type.
df['OCCUPATION_TYPE'].fillna(df['OCCUPATION_TYPE'].mode()[0], inplace=True)

#### EXT_SOURCE_3 Imputation

In [ ]:
df['EXT_SOURCE_3'].value_counts()

In [ ]:
df['EXT_SOURCE_3'].plot.hist()
plt.show()

In [ ]:
df['EXT_SOURCE_3'].describe()

In [ ]:
df['EXT_SOURCE_3'].fillna(df['EXT_SOURCE_3'].mean(), inplace=True)

#### AMT_REQ_CREDIT_BUREAU_HOUR Imputation

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts()

In [ ]:
sns.countplot(x='AMT_REQ_CREDIT_BUREAU_HOUR', data=df)
plt.xticks(rotation=90)
plt.show()

Since the column only takes discrete values, so we cannot replace it by mean value.
Lets replace by mode.

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(df['AMT_REQ_CREDIT_BUREAU_HOUR'].mode()[0], inplace=True)

#### AMT_REQ_CREDIT_BUREAU_DAY Imputation

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts()

Similarly, for this column also we need to impute with the mode of the column.

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(df['AMT_REQ_CREDIT_BUREAU_DAY'].mode()[0], inplace=True)

#### AMT_REQ_CREDIT_BUREAU_WEEK Imputation

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts()

Similarly, for this column also we need to impute with the mode of the column.

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(df['AMT_REQ_CREDIT_BUREAU_WEEK'].mode()[0], inplace=True)

#### AMT_REQ_CREDIT_BUREAU_MON Imputation

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_MON'].value_counts()

Similarly, for this column also we need to impute with the mode of the column.

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_MON'].fillna(df['AMT_REQ_CREDIT_BUREAU_MON'].mode()[0], inplace=True)

#### AMT_REQ_CREDIT_BUREAU_QRT Imputation

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts()

Similarly, for this column also we need to impute with the mode of the column.

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(df['AMT_REQ_CREDIT_BUREAU_QRT'].mode()[0], inplace=True)

#### AMT_REQ_CREDIT_BUREAU_YEAR Imputation

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts()

Similarly, for this column also we need to impute with the mode of the column.

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(df['AMT_REQ_CREDIT_BUREAU_YEAR'].mode()[0], inplace=True)

#### OBS_30_CNT_SOCIAL_CIRCLE Imputation

In [ ]:
df['OBS_30_CNT_SOCIAL_CIRCLE'].value_counts()

Similarly, for this column also we need to impute with the mode of the column.

In [ ]:
df['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(df['OBS_30_CNT_SOCIAL_CIRCLE'].mode()[0], inplace=True)

#### DEF_30_CNT_SOCIAL_CIRCLE Imputation

In [ ]:
df['DEF_30_CNT_SOCIAL_CIRCLE'].value_counts()

In [ ]:
df['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(df['DEF_30_CNT_SOCIAL_CIRCLE'].mode()[0], inplace=True)

#### OBS_60_CNT_SOCIAL_CIRCLE Imputation

In [ ]:
df['OBS_60_CNT_SOCIAL_CIRCLE'].value_counts()

In [ ]:
df['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(df['OBS_60_CNT_SOCIAL_CIRCLE'].mode()[0], inplace=True)

#### DEF_60_CNT_SOCIAL_CIRCLE Imputation

In [ ]:
df['DEF_60_CNT_SOCIAL_CIRCLE'].value_counts()

In [ ]:
df['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(df['DEF_60_CNT_SOCIAL_CIRCLE'].mode()[0], inplace=True)

#### DAYS_LAST_PHONE_CHANGE Imputation

In [ ]:
df['DAYS_LAST_PHONE_CHANGE'].value_counts()

DAYS_LAST_PHONE_CHANGE column contains negative values which is incorrect. It represents the Number of Days, so it should be positive. So we can convert it in to positive using 'abs' function.

In [ ]:
df['DAYS_LAST_PHONE_CHANGE'] = abs(df['DAYS_LAST_PHONE_CHANGE'])

In [ ]:
df['DAYS_LAST_PHONE_CHANGE'].value_counts()

In [ ]:
#Imputing with mode of the column
df['DAYS_LAST_PHONE_CHANGE'].fillna(df['DAYS_LAST_PHONE_CHANGE'].mode()[0], inplace=True)

In [ ]:
# Rechecking that value has been imputed or not.
df.isnull().sum()/len(df)*100

So, now Null values in the Dataset have been Imputed.

### Errors in Data types and Data

##### Checking Numerical Columns

#### Imputing the absolute values in columns containing days in negative numbers.

In [ ]:
df.head()

In [ ]:
#Getting the list of columns that begin with 'DAYS'.
[i for i in df if i.startswith('DAYS')]

In [ ]:
# Rechecking
df['DAYS_BIRTH'].value_counts()

In [ ]:
#Applying ABS function
df['DAYS_BIRTH'] = abs(df['DAYS_BIRTH'])

In [ ]:
df['DAYS_EMPLOYED'].value_counts()

In [ ]:
#Applying ABS function
df['DAYS_EMPLOYED'] = abs(df['DAYS_EMPLOYED'])

In [ ]:
# Rechecking
df['DAYS_EMPLOYED'].value_counts()

In [ ]:
df['DAYS_REGISTRATION'].value_counts()

In [ ]:
#Applying ABS function
df['DAYS_REGISTRATION'] = abs(df['DAYS_REGISTRATION'])

In [ ]:
# Rechecking
df['DAYS_REGISTRATION'].value_counts()

In [ ]:
df['DAYS_ID_PUBLISH'].value_counts()

In [ ]:
#Applying ABS function
df['DAYS_ID_PUBLISH'] = abs(df['DAYS_ID_PUBLISH'])

In [ ]:
# Rechecking
df['DAYS_ID_PUBLISH'].value_counts()

We have already imputed the absolute values for 'DAYS_LAST_PHONE_CHANGE' column earlier.

In [ ]:
df.describe()

##### Checking Categorical Columns

In [ ]:
df.head(50)

In [ ]:
df['CODE_GENDER'].value_counts()

##### Replacing 'XNA' (Not Available) in the column 'CODE_GENDER'

In [ ]:
#We can replace it with the mode of the column i.e, F.
df.loc[df['CODE_GENDER'] == 'XNA', 'CODE_GENDER'] ='F'

In [ ]:
df['CODE_GENDER'].value_counts()

In [ ]:
df['ORGANIZATION_TYPE'].value_counts()

##### Replacing 'XNA' (Not Available) in the column 'ORGANIZATION_TYPE'

Since the record count is a bit huge with value 'XNA' in the column 'ORGANIZATION_TYPE', we can simply convert the values to NAN.

In [ ]:
#Replacing 'XNA' with NAN
df = df.replace('XNA',np.NaN)

In [ ]:
# Rechecking
df['ORGANIZATION_TYPE'].value_counts()

### Analysis

##### Creating new columns and Splitting Dataset based on 'TARGET' column.

In [ ]:
#Creating AGE column from 'DAYS_BIRTH' column.
df['AGE']=df['DAYS_BIRTH'].apply(lambda x: int(x/365))

In [ ]:
df['AGE'].describe()

In [ ]:
# Creating AGE bins/buckets for better analysis. (Converting continuous to categorical)
df['Age_Bins']=pd.cut(df['AGE'],bins=[20,25,30,35,40,45,50,55,60,65,70],labels=['20-25','25-30','30-35','35-40','40-45','45-50','50-55','55-60','60-65','65-70'])

In [ ]:
df['Age_Bins']

Similarly, creating a new column by converting DAYS_EMPLOYED to years(years_of_employed).

In [ ]:
df['Years_of_Employed'] = df['DAYS_EMPLOYED']/365

In [ ]:
df['Years_of_Employed']

In [ ]:
#Converting the column to int type, so that we can devide them as 'Unemployed/Retired' and 'Employed' and create a new column 'Employment_Cat'.
df['Years_of_Employed'] = df['Years_of_Employed'].astype(int)
df['Employment_Cat'] = df['Years_of_Employed'].apply(lambda x: 'Unemployed/Retired' if x==0 else 'Employed')

In [ ]:
df['Employment_Cat'].value_counts()

In [ ]:
# Binning based on the Children count
df['child_count_group'] = pd.cut(df['CNT_CHILDREN'], bins=[0,2,5,10],labels=['0-2','2-5','More than 5'])

In [ ]:
df['child_count_group'].value_counts()

#### Analysing the TARGET column

In [ ]:
df['TARGET'].value_counts()

In [ ]:
df['TARGET'].value_counts(normalize=True)

In [ ]:
plt.pie(df['TARGET'].value_counts(normalize=True)*100,labels=['Non-Default(TARGET=0)','Default(TARGET=1)'],explode=(0,0.05),autopct='%1.f%%')
plt.title('TARGET Variable - Defaulter vs Non-Defaulter')
plt.show()

So, it is clear from the pie chart that there is an imbalance between the people who defaulted and the people who did not. Almost 92% of the people didn't default whereas 8% of the people defaulted.

##### Dividing the Dataset into 2 based on the 'TARGET' column.

In [ ]:
df_tar0 = df[df['TARGET']==0]
df_tar1 = df[df['TARGET']==1]

In [ ]:
df_tar0.shape

In [ ]:
df_tar1.shape

### Univariate Analysis

In [ ]:
df.head()

In [ ]:
# Gender Distribution
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['CODE_GENDER'].value_counts().plot(kind='bar', title='Gender Distribution for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['CODE_GENDER'].value_counts().plot(kind='bar', title='Gender Distribution for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Ownership of Car distribution
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['FLAG_OWN_CAR'].value_counts().plot(kind='bar', title='Ownership of Car Distribution for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['FLAG_OWN_CAR'].value_counts().plot(kind='bar', title='Ownership of Car Distribution for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Ownership of Flat distribution
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['FLAG_OWN_REALTY'].value_counts().plot(kind='bar', title='Ownership of Flat Distribution for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['FLAG_OWN_REALTY'].value_counts().plot(kind='bar', title='Ownership of Flat Distribution for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Employment Status of Loan Applicants
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['Employment_Cat'].value_counts().plot(kind='pie', title='Employment Status for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['Employment_Cat'].value_counts().plot(kind='pie', title='Employment Status for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Income type of Loan Applicants
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['NAME_INCOME_TYPE'].value_counts().plot(kind='bar', title='Income type for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['NAME_INCOME_TYPE'].value_counts().plot(kind='bar', title='Income type for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Family Status of Loan Applicants
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['NAME_FAMILY_STATUS'].value_counts().plot(kind='bar', title='Family Status for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['NAME_FAMILY_STATUS'].value_counts().plot(kind='bar', title='Family Status for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Education type of Loan Applicants
plt.figure(figsize=(15,10))
plt.subplot(1,2,1)
df_tar0['NAME_EDUCATION_TYPE'].value_counts().plot(kind='bar', title='Education type for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['NAME_EDUCATION_TYPE'].value_counts().plot(kind='bar', title='Education type for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Age buckets analysis of Loan Applicants
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['Age_Bins'].value_counts().plot(kind='bar', title='Age bins for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['Age_Bins'].value_counts().plot(kind='bar', title='Age bins for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Organization type analysis of Loan Applicants
plt.figure(figsize=(15,5))
df_tar0['ORGANIZATION_TYPE'].value_counts().plot(kind='bar', title='Organization type for Applications with Non Payment Difficulties')
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
df_tar1['ORGANIZATION_TYPE'].value_counts().plot(kind='bar', title='Organization type for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Contract type analysis
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
df_tar0['NAME_CONTRACT_TYPE'].value_counts().plot(kind='pie', title='Contract type for Applications with Non Payment Difficulties')
plt.subplot(1,2,2)
df_tar1['NAME_CONTRACT_TYPE'].value_counts().plot(kind='pie', title='Contract type for Applications with Payment Difficulties')
plt.show()

In [ ]:
# Total Income of applicants
plt.figure(figsize=(20,5))
plt.subplot(1,2,1)
plt.title('Total Income for Applications with Non Payment Difficulties')
sns.boxplot(df_tar0['AMT_INCOME_TOTAL'])
plt.subplot(1,2,2)
plt.title('Total Income for Applications with Payment Difficulties')
sns.boxplot(df_tar1['AMT_INCOME_TOTAL'])
plt.show()

In [ ]:
df_tar0['AMT_INCOME_TOTAL'].quantile([0.1,0.25,0.5,0.75,0.9,0.95,0.99,1])

In [ ]:
df_tar1['AMT_INCOME_TOTAL'].quantile([0.1,0.25,0.5,0.75,0.9,0.95,0.99,1])

In [ ]:
# Credit Amount analysis
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
plt.title('Credit Amount for Applications with Non Payment Difficulties')
sns.distplot(df_tar0['AMT_CREDIT'])
plt.subplot(1,2,2)
plt.title('Credit Amount for Applications with Payment Difficulties')
sns.distplot(df_tar1['AMT_CREDIT'])
plt.show()

In [ ]:
# Loan Annuity analysis
plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
plt.title('Loan Annuity for Applications with Non Payment Difficulties')
sns.distplot(df_tar0['AMT_ANNUITY'])
plt.subplot(1,2,2)
plt.title('Loan Annuity for Applications with Payment Difficulties')
sns.distplot(df_tar1['AMT_ANNUITY'])
plt.show()

#### Bivariate Analysis