In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('MegaMart_sales.csv',header =0)

In [4]:
df_new= pd.read_csv('MegaMart_newsales.csv',header =0)

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [5]:
#your code here
df_combined = pd.concat([df,df_new])

In [8]:
#df_combined['Office Supplies'].sum()
df_combined.head()
df_combined.groupby('Category').agg({'Sales':'sum'})

                 Sales
Category
Furniture         2460
Office Supplies   7970
Technology        8588

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [10]:
#your code here
df_combined.drop_duplicates(subset=None,keep='first',inplace = True)
df_combined.groupby('Category').agg({'Sales':'sum'})

                 Sales
Category
Furniture         2460
Office Supplies   6964
Technology        7494

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [14]:
#your code here
df_combined.head()
df_combined.groupby(['Category','Sub-Category']).agg({'Profit':'sum'})

                              Profit
Category        Sub-Category
Furniture       Bookcases        308
                Chairs           -49
                Furnishings       74
Office Supplies Appliances       229
                Art              275
                Binders          156
                Envelopes         35
                Fasteners         10
                Labels            30
                Paper             15
                Storage          192
                Supplies         103
Technology      Accessories      215
                Copiers            0
                Machines         168
                Phones          1618

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame? An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [16]:
#your code here
df['Order no']=df['Order ID'].str.split('-')
df['Order no']=df['Order no'].apply(lambda x: x[2])
df['no_of_digits']=df['Order no'].apply(lambda x: len(x))
df['no_of_digits'].value_counts()

7    53
6     6
Name: no_of_digits, dtype: int64

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [21]:
#your code here
df_combined.head()
df_top25 = df_combined.sort_values(by='Sales',ascending=False).head(25)
df_top25[df_top25['Category']=='Furniture'].shape

(5, 8)

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [23]:
#your code here
df_combined[(df_combined['Sales'] > 250) & (df_combined['Profit'] > 50)].sort_values(by='Sales',ascending=False).head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [29]:
#your code here
lowest_profit=df_combined[df_combined.Profit>0]
lowest_profit=lowest_profit[lowest_profit['Category']=='Technology']
lowest_profit['Profit_per_qty']=lowest_profit['Profit']/lowest_profit['Quantity']
lowest_profit.sort_values(by='Profit_per_qty',ascending=True)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Profit_per_qty
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15.571429
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,20.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,273.333333